@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");
body::-webkit-scrollbar {
  width: 0;
}

html {
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2em;
  background: linear-gradient(180deg, #161515 0%, #141313 100%);
  color: #ffffff;
}

.header{
  display: flex;
  justify-content: center;
  padding: 35px 0;
  width: 100%;
}

.main-list{
  display: flex;
  gap: 150px;
}

.list-item__link {
  position: relative;
  font-size: 26px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #30D5C8;
}

.list-item__link::after {
  position: absolute;
  transition: 0.2s;
  content: "";
  border-radius: 10px;
  width: 55%;
  height: 3px;
  bottom: -15px;
  background: #a7a3a3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.list-item__link:hover:after{
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.2s;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
p {
  margin: 0;
}

h1,
h2 {
  font-weight: 700;
  font-size: 42px;
}

.home {
  display: flex;
  flex-direction: column;
  padding: 40vh 10vw 40vh 10vw;
  background-position: center bottom;
  gap: 20px
}

.home__title {
  color: #30D5C8;
  line-height: 1;
  position: absolute;
  right: 350px;
  top: 325px;
  font-size: 75px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.home__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  position: absolute;
  right: 300px;
  top: 300px;
}

.about {
  margin-bottom: 200px;
}

.about__title {
  font-size: 50px;
  position: absolute;
  text-align: left;
  color: #30D5C8;
  line-height: 1;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  width: fit-content;
  top: 575px;
  left: 175px;
}

.info-block {
  display: flex;
  justify-content: space-between;
}

.info-block__text {
  width: 40%;
  position: absolute;
  top: 650px;
  left: 175px;
  font-size: 20px;
}

.skills {
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.skills__title {
  font-size: 60px;
  position: relative;
  text-align: center;
  color: #29b3a7;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}

.skills__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  gap: 10px;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 100px;
}

.projects__title {
  font-size: 60px;
  position: relative;
  text-align: center;
  color: #2fbdb1;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}

.projects-list {
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
}

.project {
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

/* .project__info {
  width: 150px;
} */

.project__button {
  font: inherit;
  font-weight: 700;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.project__button:hover {
  color: #2cc2d6;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.project__img{
  border-radius: 30px;
}

.feedback {
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.feedback__title {
  font-size: 60px;
  position: relative;
  text-align: center;
  color: #269b91;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  gap: 20px;
}

.form label {
  width: 100%;
}

.form__input {
  width: 80%;
  font: inherit;
  background: #295f64;
  border: 2px solid #34d8b4;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
  padding-right: 30px;
}

.form__input::placeholder {
  color: #fff;
}

.form__input:active,
.form__input:focus,
.form__input:focus-visible {
  border: none;
}

.form__button {
  font: inherit;
  font-weight: 800;
  color: #fff;
  background: linear-gradient(111.97deg, #46b8be 35.63%, #22666b 150.16%);
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
  padding: 15px 30px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.footer{
  text-align: center;
  background-color: black;
  color: #fff;
  padding-top: 70px; /* Увеличиваем верхний отступ шапки, чтобы логотип и меню не прилипали к экрану */
}

.ff {
  color: lightslategrey;
  padding-top: 40px;
}

.pro {
  font: inherit;
  font-weight: 700;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.pro:hover {
  color: #afafaf
}

.ulf {
  padding-top: 40px;
}

.contacts_title {
  position: relative;
  bottom: 13px;
}

.alert {
  text-align: center;
  position: relative;
  bottom: 160px;
  padding-left: 25px;
  padding-top: 10px;
}
